/* https://coolors.co/001011-093a3e-3aafb9-64e9ee-97c8eb */

:root{
    font-size: 16px;
    font-family: 'Baloo Thambi 2';
}

body{
    margin: 0;
    padding: 0;
    background-color: #97C8EB;
}

.main{
    margin-left: 5rem;
    padding: 1rem;
    color: #001011;
}

.navbar{
    width: 5rem;
    height: 100vh;
    position: fixed;
    transition: width 150ms ease;
}

.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: #3AAFB9;
}

.nav-item{
    width: 100%;
}

.active{
    /* border-radius: 0.5rem; */
    border-right: #2C868E 3px solid;
}

.nav-link{
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 5rem;
    transition: background-color 200ms linear;
}

.nav-link{
    color:  #093A3E;
}

.nav-link:hover{
    background-color: #093A3E;
    color: #64E9EE;
}

.link-text{
    display: none;
    margin-left: 1rem;
}

.nav-link i{
    min-width: 2rem;
    margin: 0 1.5rem;
}

.navbar:hover{
    width: 16rem;
}

.navbar:hover .link-text{
    display: block;
}