:root{
    font-size: 16px;
    /* font-family: 'Baloo Thambi 2'; */
}

body{
    margin: 0;
    padding: 0;
}

.main{
    margin-left: 5rem;
    padding: 1rem;
}

.navbar{
    width: 5rem;
    height: 100vh;
    position: fixed;
}